.App__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.App__input-field {
  margin: 0 6px;
}

.App__search-container, .App__result-container {
  margin: 30px;
}